flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Temperature",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ebf77e39723361c8",
        "type": "tab",
        "label": "Temperature Competition",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3244c5355c1aab99",
        "type": "tab",
        "label": "Dam Level",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cdd5af4dc812a8d2",
        "type": "tab",
        "label": "Gate Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e63766a3c232387",
        "type": "tab",
        "label": "Soil Moisture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee41971d60485b1c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.100",
        "port": "1883",
        "tls": "72489513be07e670",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "72489513be07e670",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "67ec095aeff0c811",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9c3e0c70915555f5",
        "type": "ui_tab",
        "name": "Farm Overview",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77fe5f73820c6515",
        "type": "ui_group",
        "name": "Soil Moisture",
        "tab": "9c3e0c70915555f5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1a9f482f1dee226",
        "type": "ui_group",
        "name": "Weather",
        "tab": "9c3e0c70915555f5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "53d69bd331f37833",
        "type": "ui_group",
        "name": "Dam Levels",
        "tab": "9c3e0c70915555f5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51aa7582259192f3",
        "type": "ui_group",
        "name": "Security",
        "tab": "9c3e0c70915555f5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16d6e1c9aaf824da",
        "type": "ui_tab",
        "name": "Competition",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1aa059e05e7553f7",
        "type": "ui_group",
        "name": "Team Challenge: It's getting hot in here!",
        "tab": "16d6e1c9aaf824da",
        "order": 1,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9123f9c48ed561e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "3c6ba75965798659",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/liveTemperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 197.99999618530273,
        "y": 580.9999923706055,
        "wires": [
            [
                "c98bc19187851b2d"
            ]
        ]
    },
    {
        "id": "a085025efc8b61d8",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 780,
        "y": 580,
        "wires": []
    },
    {
        "id": "90e881f3d0ade895",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "qciot/johns/demo/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "ee41971d60485b1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 197.99999618530273,
        "y": 380.99999237060547,
        "wires": [
            [
                "2ce4f80adec3e5f9",
                "b35b7f7c94973b01",
                "7881c443c8c31906",
                "28740d7c8d24e106"
            ]
        ]
    },
    {
        "id": "53cfc6af553d9de8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 922.0000038146973,
        "y": 380.9999990463257,
        "wires": []
    },
    {
        "id": "76da843035cb26d9",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "a085025efc8b61d8",
                "c9123f9c48ed561e"
            ]
        ]
    },
    {
        "id": "2ce4f80adec3e5f9",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentTemperature",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 477.99999618530273,
        "y": 380.99999237060547,
        "wires": [
            [
                "4fc9571fddc239a0"
            ]
        ]
    },
    {
        "id": "c98bc19187851b2d",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n \"currentTemperature\": {{flow.currentTemperature}},\n \"maxTemperature\": {{flow.maxTemperature}},\n \"minTemperature\": {{flow.minTemperature}}\n}",
        "output": "str",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "76da843035cb26d9"
            ]
        ]
    },
    {
        "id": "4fc9571fddc239a0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "currentTemperature = flow.get('currentTemperature');\n\nif (!flow.get('maxTemperature') || currentTemperature > flow.get('maxTemperature'))\n{\n    flow.set('maxTemperature', currentTemperature)\n}\n\nif (!flow.get('minTemperature') || currentTemperature < flow.get('minTemperature'))\n{\n    flow.set('minTemperature', currentTemperature)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 727.9999961853027,
        "y": 380.99999237060547,
        "wires": [
            [
                "53cfc6af553d9de8"
            ]
        ]
    },
    {
        "id": "b35b7f7c94973b01",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 927.9999961853027,
        "y": 320.99999237060547,
        "wires": []
    },
    {
        "id": "7881c443c8c31906",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f1a9f482f1dee226",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#0084ff",
            "#00ff40",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "30",
        "className": "",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "28740d7c8d24e106",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f1a9f482f1dee226",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "69358aa187823dc8",
        "type": "ui_gauge",
        "z": "ebf77e39723361c8",
        "name": "",
        "group": "1aa059e05e7553f7",
        "order": 1,
        "width": 12,
        "height": 7,
        "gtype": "gage",
        "title": "Team 1",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#00fbff",
            "#e6e600",
            "#66ff00"
        ],
        "seg1": "25",
        "seg2": "32",
        "className": "",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "f9372f53a0ef07d9",
        "type": "ui_gauge",
        "z": "ebf77e39723361c8",
        "name": "",
        "group": "1aa059e05e7553f7",
        "order": 2,
        "width": 12,
        "height": 7,
        "gtype": "gage",
        "title": "Team 2",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#00fbff",
            "#e6e600",
            "#66ff00"
        ],
        "seg1": "25",
        "seg2": "32",
        "className": "",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "f375bf0facbacda2",
        "type": "mqtt in",
        "z": "ebf77e39723361c8",
        "name": "",
        "topic": "qciot/johns/demo/competition/team1",
        "qos": "2",
        "datatype": "auto",
        "broker": "ee41971d60485b1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "69358aa187823dc8"
            ]
        ]
    },
    {
        "id": "570048ea9dab5a52",
        "type": "mqtt in",
        "z": "ebf77e39723361c8",
        "name": "",
        "topic": "qciot/johns/demo/competition/team2",
        "qos": "2",
        "datatype": "auto",
        "broker": "ee41971d60485b1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 480,
        "wires": [
            [
                "f9372f53a0ef07d9"
            ]
        ]
    },
    {
        "id": "81d3e0d1b29b77f3",
        "type": "ui_gauge",
        "z": "3244c5355c1aab99",
        "name": "",
        "group": "53d69bd331f37833",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Main reservoir",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "a53d5682ce549287",
        "type": "inject",
        "z": "3244c5355c1aab99",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "76",
        "payloadType": "num",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "81d3e0d1b29b77f3"
            ]
        ]
    },
    {
        "id": "14cd10b9b130f997",
        "type": "mqtt in",
        "z": "3244c5355c1aab99",
        "name": "",
        "topic": "qciot/johns/demo/damlevel",
        "qos": "2",
        "datatype": "auto",
        "broker": "ee41971d60485b1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "291b59df2a85b23d"
            ]
        ]
    },
    {
        "id": "44412cfb7695599b",
        "type": "debug",
        "z": "3244c5355c1aab99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "291b59df2a85b23d",
        "type": "function",
        "z": "3244c5355c1aab99",
        "name": "",
        "func": "msg.payload = Math.round(100 - parseFloat(msg.payload))\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "44412cfb7695599b",
                "81d3e0d1b29b77f3"
            ]
        ]
    },
    {
        "id": "0349a5f0a13b8804",
        "type": "ui_switch",
        "z": "3244c5355c1aab99",
        "name": "",
        "label": "Pivot Irrigator",
        "tooltip": "",
        "group": "53d69bd331f37833",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 780,
        "wires": [
            [
                "9a803397dec4eed0"
            ]
        ]
    },
    {
        "id": "9a803397dec4eed0",
        "type": "mqtt out",
        "z": "3244c5355c1aab99",
        "name": "",
        "topic": "qciot/johns/demo/pivot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee41971d60485b1c",
        "x": 1140,
        "y": 780,
        "wires": []
    },
    {
        "id": "5191b4e4f04df206",
        "type": "http in",
        "z": "3244c5355c1aab99",
        "name": "",
        "url": "/getPivotOn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "ce1a736b08841dc9"
            ]
        ]
    },
    {
        "id": "13fd39dd5000acd1",
        "type": "http in",
        "z": "3244c5355c1aab99",
        "name": "",
        "url": "/setPivotOn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 780,
        "wires": [
            [
                "93952d92ab76f7d8",
                "713d65ceb393032a"
            ]
        ]
    },
    {
        "id": "ce1a736b08841dc9",
        "type": "function",
        "z": "3244c5355c1aab99",
        "name": "",
        "func": "PivotOn = flow.get('PivotOn');\n\nmsg.payload = {PivotOn: false}\nif (PivotOn !== undefined) msg.payload = {PivotOn: PivotOn};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "8f9392ecda7db720"
            ]
        ]
    },
    {
        "id": "713d65ceb393032a",
        "type": "function",
        "z": "3244c5355c1aab99",
        "name": "",
        "func": "flow.set('PivotOn', msg.payload.PivotOn);\nmsg.payload = msg.payload.PivotOn\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 780,
        "wires": [
            [
                "0349a5f0a13b8804",
                "1012d3b19dd6e0be"
            ]
        ]
    },
    {
        "id": "762058a52c9064b2",
        "type": "http response",
        "z": "3244c5355c1aab99",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "8f9392ecda7db720",
        "type": "json",
        "z": "3244c5355c1aab99",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "762058a52c9064b2",
                "6a32d7d16a869d3f"
            ]
        ]
    },
    {
        "id": "1012d3b19dd6e0be",
        "type": "debug",
        "z": "3244c5355c1aab99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 880,
        "wires": []
    },
    {
        "id": "6a32d7d16a869d3f",
        "type": "debug",
        "z": "3244c5355c1aab99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "93952d92ab76f7d8",
        "type": "http response",
        "z": "3244c5355c1aab99",
        "name": "",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "9839564afb8f14aa",
        "type": "json",
        "z": "3244c5355c1aab99",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 860,
        "wires": [
            [
                "4072f3f0d7a29398"
            ]
        ]
    },
    {
        "id": "4072f3f0d7a29398",
        "type": "debug",
        "z": "3244c5355c1aab99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 960,
        "wires": []
    },
    {
        "id": "5b8cb3afbd8bd66b",
        "type": "ui_gauge",
        "z": "cdd5af4dc812a8d2",
        "name": "",
        "group": "f1a9f482f1dee226",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Wind Direction",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "cdb26c12afd39e03",
        "type": "inject",
        "z": "cdd5af4dc812a8d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "242",
        "payloadType": "num",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "5b8cb3afbd8bd66b"
            ]
        ]
    },
    {
        "id": "3ac452d176102c8b",
        "type": "ui_led",
        "z": "cdd5af4dc812a8d2",
        "order": 1,
        "group": "51aa7582259192f3",
        "width": 0,
        "height": 0,
        "label": "Main Gate",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "MainGate",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "a7b1e263a1fc397c",
        "type": "inject",
        "z": "cdd5af4dc812a8d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "3ac452d176102c8b",
                "d7acd84b7d8e260b",
                "24e54a9af1451548"
            ]
        ]
    },
    {
        "id": "d7acd84b7d8e260b",
        "type": "ui_led",
        "z": "cdd5af4dc812a8d2",
        "order": 3,
        "group": "51aa7582259192f3",
        "width": 0,
        "height": 0,
        "label": "Paddock #1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Paddock",
        "x": 760,
        "y": 520,
        "wires": []
    },
    {
        "id": "c922b8fdeda4cf29",
        "type": "inject",
        "z": "cdd5af4dc812a8d2",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "3ac452d176102c8b",
                "d7acd84b7d8e260b",
                "24e54a9af1451548"
            ]
        ]
    },
    {
        "id": "24e54a9af1451548",
        "type": "ui_led",
        "z": "cdd5af4dc812a8d2",
        "order": 2,
        "group": "51aa7582259192f3",
        "width": 0,
        "height": 0,
        "label": "Storage Shed",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Shed",
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "2a1ef9e1d9c3c735",
        "type": "debug",
        "z": "3e63766a3c232387",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "32e73a7e5d317517",
        "type": "http in",
        "z": "3e63766a3c232387",
        "name": "",
        "url": "/liveSoil",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 247.99999618530273,
        "y": 360.99999237060547,
        "wires": [
            [
                "30dba07789924457"
            ]
        ]
    },
    {
        "id": "872015b9060e4315",
        "type": "http response",
        "z": "3e63766a3c232387",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "2fde09a67b932b30",
        "type": "json",
        "z": "3e63766a3c232387",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 360,
        "wires": [
            [
                "872015b9060e4315",
                "2a1ef9e1d9c3c735"
            ]
        ]
    },
    {
        "id": "30dba07789924457",
        "type": "template",
        "z": "3e63766a3c232387",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n \"currentSoilMoisture\": {{flow.currentSoilMoisture}},\n \"maxSoilMoisture\": {{flow.maxSoilMoisture}},\n \"minSoilMoisture\": {{flow.minSoilMoisture}}\n}",
        "output": "str",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "2fde09a67b932b30"
            ]
        ]
    },
    {
        "id": "9a609725f7fab8fe",
        "type": "mqtt in",
        "z": "3e63766a3c232387",
        "name": "",
        "topic": "qciot/johns/demo/soilmoisture",
        "qos": "2",
        "datatype": "auto",
        "broker": "ee41971d60485b1c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 260,
        "wires": [
            [
                "13d73d136a77085c",
                "b23d3c9368f3a5c6",
                "db9060097bb954eb"
            ]
        ]
    },
    {
        "id": "b23eeb86a46105f3",
        "type": "debug",
        "z": "3e63766a3c232387",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "13d73d136a77085c",
        "type": "change",
        "z": "3e63766a3c232387",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "currentSoilMoisture",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 645.9999923706055,
        "y": 259.9999933242798,
        "wires": [
            [
                "e715e03244dc34b4"
            ]
        ]
    },
    {
        "id": "e715e03244dc34b4",
        "type": "function",
        "z": "3e63766a3c232387",
        "name": "",
        "func": "currentSoilMoisture = flow.get('currentSoilMoisture');\n\nif (!flow.get('maxSoilMoisture') || currentSoilMoisture > flow.get('maxSoilMoisture'))\n{\n    flow.set('maxSoilMoisture', currentSoilMoisture)\n}\n\nif (!flow.get('minSoilMoisture') || currentSoilMoisture < flow.get('minSoilMoisture'))\n{\n    flow.set('minSoilMoisture', currentSoilMoisture)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 855.9999923706055,
        "y": 259.9999933242798,
        "wires": [
            [
                "b23eeb86a46105f3"
            ]
        ]
    },
    {
        "id": "5178c09fe0295cf8",
        "type": "mqtt out",
        "z": "3e63766a3c232387",
        "name": "",
        "topic": "qciot/johns/demo/soilmoisture/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee41971d60485b1c",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "65c44756cdbca665",
        "type": "inject",
        "z": "3e63766a3c232387",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "5178c09fe0295cf8"
            ]
        ]
    },
    {
        "id": "e44b3f393f8e60a8",
        "type": "http in",
        "z": "3e63766a3c232387",
        "name": "",
        "url": "/waterPlants",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "da2476f9aa6327cc",
                "80ecb0ca7742c4a8",
                "26290f4313b40c40"
            ]
        ]
    },
    {
        "id": "da2476f9aa6327cc",
        "type": "http response",
        "z": "3e63766a3c232387",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 700,
        "wires": []
    },
    {
        "id": "80ecb0ca7742c4a8",
        "type": "debug",
        "z": "3e63766a3c232387",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 760,
        "wires": []
    },
    {
        "id": "b23d3c9368f3a5c6",
        "type": "ui_gauge",
        "z": "3e63766a3c232387",
        "name": "",
        "group": "77fe5f73820c6515",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#00fa60"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "db9060097bb954eb",
        "type": "ui_chart",
        "z": "3e63766a3c232387",
        "name": "",
        "group": "77fe5f73820c6515",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Soil Moisture history",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e0ec39014de8e190",
        "type": "ui_button",
        "z": "3e63766a3c232387",
        "name": "",
        "group": "77fe5f73820c6515",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Irrigate",
        "tooltip": "",
        "color": "#000000",
        "bgcolor": "#00FF40",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "5178c09fe0295cf8"
            ]
        ]
    },
    {
        "id": "26290f4313b40c40",
        "type": "change",
        "z": "3e63766a3c232387",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 580,
        "wires": [
            [
                "5178c09fe0295cf8"
            ]
        ]
    }
]